﻿@model List<Message>

<table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
    <thead>
        <tr>
            <th colspan="9">Messages</th>

        </tr>
        <tr>
            <th class="w30">&nbsp;</th>
            <th>Message</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.IsSend == true)
                    {
                        <span class="tag tag-info">Sended</span>

                    }else if (item.IsSend == false)
                    {
                           <span class="tag tag-danger">Not Send (Error)</span>
                    }else{
                           <span class="tag tag-default">Pending</span>
                    }
            </td>

            <td><span>@item.Title</span></td>
            <td><span>@item.SendTime.ToString("MM/dd/yyyy hh:mm tt")</span></td>

        </tr>
        }
      

    </tbody>
</table>