﻿@model Message



<div class="section-body mt-3">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Add Message</h3>
                        <div class="card-options">
                        </div>
                    </div>
                    <div class="card-body">


                        <form method="post" id="MessageForm" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="message" asp-for="Title">
                                    </div>
                                </div>


                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="input-group">
                                        <input type="datetime-local" id="birthdaytime" asp-for="SendTime">
         
                                    </div>
                                </div>


                                <div class="col-lg-1 col-md-2 col-sm-6">
                                    <a href="javascript:void(0);" class="btn btn-primary btn-block" onclick="saveMessage()">Save</a>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="table-responsive" id="divResult">
                     

                        @Html.Action("GetMessages","Message")

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/js/Views/Message.js"></script>