﻿@model Department



<ul>
    @foreach (var subitem in Model.ChildDepartments)
    {
        <li>
            <span><i class="icon-leaf"></i> @subitem.Name</span> 
            @if (subitem.ChildDepartments.Count > 0)
            {
                @await Html.PartialAsync("_childDepartment",subitem)
            }
        </li>

    }
</ul>

