﻿@model DepartmentList


<div class="row">

    <div class="col-6">
        <h3>Parent List</h3>

        <div class="tree well">

            @if (Model.ParentDepartments.Count != 0)
            {
                <ul>
                    @await Html.PartialAsync("_parentDepartment",Model.ParentDepartments)

                </ul>
            }   else
            {
                <span>This Department is main</span>
            }
        </div>
    </div>
    <div class="col-6">
        <h3>Sub Department List</h3>
        <div class="tree well">

            @if (Model.SubDepartments.Count > 0)
            {
                <ul>
                    <li>
                        <span class="MainSpan"><i class="icon-folder-open"></i> @Model.model.Name</span>
                        <ul>
                            @foreach (var item in Model.SubDepartments)
                            {
                                <li>
                                    <span><i class="icon-folder-open"></i> @item.Name</span>
                                    @if (item.ChildDepartments.Count > 0)
                                    {
                                        @await Html.PartialAsync("_childDepartment",item)

                                    }

                                </li>
                            }
                        </ul>
                    </li>
                </ul>
            }
            else
            {
                <span>Not Contain Sub-departments</span>
            }


        </div>
    </div>
</div>

<script src="~/js/site.js" asp-append-version="true"></script>