﻿@model List<Department>
@{
    int i = 0;
}


<li>
    <span><i class="icon-folder-open"></i> @Model[i].Name</span>

    @if (i + 1 < Model.Count)
    {
        <ul>
            @await Html.PartialAsync("_parentDepartment",Model.Skip(i+1).ToList())

        </ul>
    }
    else
    {
        <ul>
            <li>
                <span class="MainSpan"><i class="icon-leaf"></i> @ViewBag.department</span>
            </li>
        </ul>
    }


</li>

