﻿
@model Department

<div class="section-body">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="tab-content">
                    <div class="tab-pane active show" id="Company_Settings">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Add Department</h3>
                                <div class="card-options">
                                   
                                </div>
                            </div>
                            <div class="card-body">
                        
                            <form  method="post" asp-action="AddDepartment" enctype="multipart/form-data">
                                    
     
                                           @Html.HiddenFor(x => x.DepartmentId)
                                            @Html.HiddenFor(x => x.CreationDate)
                                           @Html.HiddenFor(x => x.Logo, new { @id = "logo" })
                                    <div class="row">
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label> Name <span class="text-danger">*</span></label>
                                                <input class="form-control" type="text" value="" asp-for="Name">
                                                <span asp-validation-for="Name" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <label>Parent Department</label>

                                                    <select class="form-control" asp-for="ParentId" asp-items="ViewBag.Departments">
                                                        <option value="">select</option>
                                                    </select>


                                                 
                                                </div>
                                            </div>
                                        </div>
                                          <div class="col-md-4 col-sm-12">
                                        </div>

                                            <div class="col-md-6 col-sm-12">
                                                <input type="file" name="logo" id="uploadFile" onchange="uploadFileAttach()"/>
                                        </div>

                                        <div class="col-sm-12 text-right m-t-20">
                                            <button type="submit" class="btn btn-primary">Save</button>
                                        </div>

                                    </div>

                             </form>


                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/js/Views/attachment.js"></script>