﻿
<div class="tab-pane active" id="Localization">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Departments</h3>

        </div>
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Department</label>

                            <select class="form-control"  asp-items="ViewBag.Departments" onchange="GetDepartments()" id="selectedDepartment">
                                <option value="0">select</option>
                            </select>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="tab-pane " id="Localization">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Departments</h3>

        </div>
        <div class="card-body">

            <div id="divResult">



            </div>


        </div>
    </div>
</div>



<script src="~/js/Views/department.js" asp-append-version="true"></script>
