﻿<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" href="favicon.ico" type="image/x-icon" />

    <title>Task Project</title>

    <!-- Bootstrap Core and vandor -->
    <link rel="stylesheet" href="~/plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/plugins/dropify/css/dropify.min.css">

    <!-- Core css -->
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/theme1.css" />

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/fontawesome.css" />
    <style>
          .input-validation-error {
            border: 1px dashed red !important;
        }

    </style>
</head>

<body class="font-montserrat">

    <!-- Overlay For Sidebars -->

    <div id="main_content">

        <div id="header_top" class="header_top">
            <div class="container">
                <div class="hleft">
                    <a class="header-brand"><i class="brand-logo"></i></a>
                    <div class="dropdown">
                    </div>
                </div>

            </div>
        </div>

        <div id="left-sidebar" class="sidebar ">
            <h5 class="brand-name">Task  </h5>
            <nav id="left-sidebar-nav" class="sidebar-nav">
                <ul class="metismenu">

                    <li><a asp-action="Index" asp-controller="Department"><span>Departments</span></a></li>
                    <li><a asp-action="AddDepartment" asp-controller="Department"><span>Add Department</span></a></li>
                    <li><a asp-action="Index" asp-controller="Message"><span> Reminder</span></a></li>

                </ul>
            </nav>
        </div>
        <div class="page">
            @RenderBody()
        </div>

    </div>


    <script src="~/bundles/lib.vendor.bundle.js"></script>

    <script src="~/plugins/dropify/js/dropify.min.js"></script>

    <script src="~/js/core.js"></script>
    <script src="~/js/fontawesome.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
      <partial name="_Validation" />
    @RenderSection("Scripts", required: false)
</body>

</html>




